# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
shamefully-hoist=true

# Use official npm registry for Vercel deployment
# For China 🇨🇳 developers, uncomment the following lines for local development:
# registry=https://registry.npmmirror.com
# electron_mirror=https://npmmirror.com/mirrors/electron/
# electron_builder_binaries_url=https://npmmirror.com/mirrors/electron-builder-binaries/
